#topo {
	width: 100%;
	height: 135px;
	border-bottom: 4px solid #fff;
	color: #fff;
	outline: 2px solid $padrao;
	background: transparent url('../img/bg.jpg') no-repeat center center / cover;

	.container {
		height: 135px;

		a.marca {
			display: inline-block;
			color: #fff;
			font-weight: normal;
			font-size: 15px;
			position: absolute;
			top: 50%;
			left: 0;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			@include transform(translateY(-50%));

			span {display: block;

				&.curso-nome {
					font-family: $fonte-marca;
					font-size: 36px;
					line-height: 1.5em;
				}

				&.livro {
					font-size: 1.35em;
					font-family: $fonte-destaque;
				}
			}		
		}

		a.sumario {
			text-align: center;
			position: absolute;
			padding: 10px;
			top: 50%;
			right: 0;
			word-break: normal;
			@include transform(translateY(-50%));	
			color: #fff;
		    width: 85px;
		    height: 80px;
		    display: block;
		    border: 2px solid;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: bold;
		    letter-spacing: 1px;

			.menu {
				margin-bottom: 10px;
			    position: relative;
			    display: block;

				span {
					
				    display: block;
				    height: 10px;
				    line-height: 0;
				    font-size: 55px;
				}
			}
		}

		.organizacao {
			display: inline-block;
			color: #fff;
			font-weight: normal;
			font-size: 15px;
			text-align: right;
			position: absolute;
			top: 50%;
			right: 0;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			@include transform(translateY(-50%));

			strong {font-size: 1.2em; text-transform: uppercase;}
		}
	}

	&.folharosto {
		height: 550px;

		.container {
			height: 550px;

			a.marca {
				top: 25px;
				@include transform(translateY(0));
			}

			.dadosinfo {
				position: absolute; left: 0;
				bottom: 25px;
				height: 360px;
				padding: 10px;
				display: inline-block;
				font-size: 0.9em; width: 48%; 
				border: 2px solid #fff;
			}
		}
	}
}