.fancybox-caption-wrap{
	padding: 60px 0 0;
}

.fancybox-caption{
	text-align: center;
	font-family: $fonte-padrao;

}


.fancybox-infobar{
	font-family: $fonte-padrao;
	.fancybox-infobar__body{
		font-family: $fonte-padrao;

	}
}