.sumario {
    @include flex-basis(100%);
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between); 
    color: #fff;
    text-shadow: 0px 0px 36px #000, 1px 1px 1px darken($padrao,20%);

    a {color: inherit; word-break: break-word;
    	&.linkficha {
    		font-size: 1.2em; font-family: $fonte-destaque;
    	}
    }

    & > div {
    	@include flex-basis(calc(50% - 20px));
    	padding: 25px;
    	margin: 0 0 40px;
    	border-left: 5px solid;
		background: transparentize(darken($padrao,20%),0.5);
		position: relative;

    	h2 {
    		text-transform: uppercase;
			margin-top: 0;
			line-height: 1.2;
			font-size: 2.1em;
			font-family: $fonte-destaque;

	    	small {
	    		font-size: 20px;
			    line-height: 1.4;
			    text-transform: none;
	    		display: block;
	    	}
	    }

	    ul {
	    	list-style-type: none;
	    	margin: 0; padding: 0;
	    	line-height: 1;

	    	li {
	    		display: block;
	    		float: left;
	    		clear: both;
	    		margin: 12px 0;

	    		&:before {
	    			content:'\2015';
		    		display: inline-block;
		    		vertical-align: middle;
		    		margin-right: 10px;
	    		}

	    		&:last-child {margin-bottom: 15px;}

	    		a{
	    			span{
	    				display: block;
	    				font-style: italic;
	    				font-size: 0.9em;
	    				margin-top: 0.6em;
	    			}
	    		}
	    	}

	    	ul {
	    		li {
	    			margin-left: 20px;
	    			&:before {content:'\21B3';}
	    			a{
	    				span{
	    					display: block;
	    					font-style: italic;
	    					font-size: 0.9em;
	    					margin-top: 0.6em;
	    				}
	    			}
	    		}
	    	}
	    }

	    &.livro1 {
	    	border-left-color: $livro1;
	    	h2, ul li a.linkficha, ul li:before {color: darken($livro1,10%)}
	    }
    	&.livro2 {
    		border-left-color: $livro2;
    		h2, ul li a.linkficha, ul li:before {color: darken($livro2,15%)}
    	}
    	&.livro3 {
    		border-left-color: $livro3;
    		h2, ul li a.linkficha, ul li:before {color: darken($livro3,20%)}
    	}
    	&.livro4 {
    		border-left-color: $livro4;
    		h2, ul li a.linkficha, ul li:before {color: darken($livro4,13%)}
    	}
    }


  //   div.ficha {
	 //    @include flex-basis(100%);
	 //    @include display(flex);
	 //    @include flex-direction(row);
	 //    @include flex-wrap(wrap);
	 //    @include justify-content(space-between); 
	 //    background: transparent; border: 0; 
	 //    padding: 0;
		
		// & > div {
		// 	@include flex-basis(calc(50% - 20px));

		// 	img {max-width: 100%; text-align: center; display: block; margin: 0 auto;}
		// }

		// .catalografica {
		// 	border: 1px solid #fff; width: 100%; 
		// 	img {width: 100%; height: auto;}

		// 	.titulo {width: 100%; font-size: 1.4em; border-bottom: 1px solid #fff; padding: 15px}

		// 	.codigo {
		// 		width: 8%; float: left; padding: 15px 15px 0 15px; font-size: 1.1em;

		// 		p, .dados p {margin-top: 0}
		// 	}
			
		// 	.dados {width: 90%; float: right; text-align: left; padding: 15px 15px 0 15px;
		// 		.cdu {text-align: right;}
		// 	}
		// }
  //   }
  	.logos {
  		@include flex-basis(100%);
		background: transparent; border: 0; 
	    padding: 0;
  		img {max-width: 100%; text-align: center; display: block; margin: 0 auto;}
  	}
}


