@charset "UTF-8";
@import "padroes/predefinicoes";
@import "padroes/nota-rodape";

/////// LAYOUT
body, html {overflow-x: hidden;}
body {
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	line-height: 1.7;
	color: $texto;
	font-family: $fonte-padrao;
	position: relative;
}


@import "layout/componentes";
@import "layout/portal";
@import "layout/sumario";
@import "layout/artigo";

@import "layout/print";