@charset "UTF-8";


@import 'normalize';
@import 'bourbon/bourbon';
@import 'padroes';
@import 'jquery.fancybox';

body { 
	position: relative; 
	font-family: $fonte-padrao;
	font-size: 16px;
	line-height: 1.618;
	color: hsl(0,0, 25%);
}

@import 'custom.fancybox';
@import 'cabecalho';
@import 'article';
@import 'rodape';
@import 'portal';
@import 'sumario-ficha';


/////////////////////////////////////
///////////////// excessoes das cores


body.livro1 {
	#topo {
		outline-color: $livro1;
		.container {
			a.marca span.livro {color: $livro1}
			a.sumario {border-color: $livro1}

			.dadosinfo {border-color: $livro1;}
		}
	}

	h1, h2, h3, h4, h5, h6 {color: darken($livro1,10%)}

	article {
		header.cabecalho div.autores_anexos {
			div.autores {background: lighten($livro1,45%); border-color: darken($livro1,10%);}
			div.box-anexos div.anexos {
				figure {outline-color: darken($livro1,10%);}
			}
		}

		span.numero-rodape {border-color: darken($livro1,10%); background: lighten($livro1,45%);}
		div.nota-rodape { 
			.posrel{border-color: darken($livro1,10%);}
			p.numero-equivalente{border-color: darken($livro1,10%); background: lighten($livro1,45%);}
		}
	}

	#rodape {
		outline-color: $livro1;

		.container a.anterior:before {text-shadow: -10px 0px 0 $livro1}
		.container a.proximo:after {text-shadow: 10px 0px 0 $livro1}
	}
}



body.livro2 {
	#topo {
		outline-color: $livro2;
		.container {
			a.marca span.livro {color: $livro2}
			a.sumario {border-color: $livro2}

			.dadosinfo {border-color: $livro2;}
		}
	}

	h1, h2, h3, h4, h5, h6 {color: darken($livro2,15%)}

	article {
		header.cabecalho div.autores_anexos {
			div.autores {background: lighten($livro2,35%); border-color: darken($livro2,10%);}
			div.box-anexos div.anexos {
				figure {outline-color: darken($livro2,10%);}
			}
		}

		span.numero-rodape {border-color: darken($livro2,10%); background: lighten($livro2,35%);}
		div.nota-rodape { 
			.posrel{border-color: darken($livro2,10%);}
			p.numero-equivalente{border-color: darken($livro2,10%); background: lighten($livro2,35%);}
		}
	}

	#rodape {outline-color: $livro2;

		.container a.anterior:before {text-shadow: -10px 0px 0 $livro2}
		.container a.proximo:after {text-shadow: 10px 0px 0 $livro2}
	}
}



body.livro3 {
	#topo {
		outline-color: $livro3;
		.container {
			a.marca span.livro {color: $livro3}
			a.sumario {border-color: $livro3}

			.dadosinfo {border-color: $livro3;}
		}
	}

	h1, h2, h3, h4, h5, h6 {color: darken($livro3,20%)}

	article {
		header.cabecalho div.autores_anexos {
			div.autores {background: lighten($livro3,30%); border-color: darken($livro3,10%);}
			div.box-anexos div.anexos {
				figure {outline-color: darken($livro3,10%);}
			}
		}

		span.numero-rodape {border-color: darken($livro3,10%); background: lighten($livro3,30%);}
		div.nota-rodape { 
			.posrel{border-color: darken($livro3,10%);}
			p.numero-equivalente{border-color: darken($livro3,10%); background: lighten($livro3,30%);}
		}
	}

	#rodape {outline-color: $livro3;
		.container a.anterior:before {text-shadow: -10px 0px 0 $livro3}
		.container a.proximo:after {text-shadow: 10px 0px 0 $livro3}
	}
}



body.livro4 {
	#topo {
		outline-color: $livro4;
		.container {
			a.marca span.livro {color: $livro4}
			a.sumario {border-color: $livro4}

			.dadosinfo {border-color: $livro4;}
		}
	}

	h1, h2, h3, h4, h5, h6 {color: darken($livro4,13%)}

	article {
		header.cabecalho div.autores_anexos {
			div.autores {background: lighten($livro4,17%); border-color: darken($livro4,10%);}
			div.box-anexos div.anexos {
				figure {outline-color: darken($livro4,10%);}
			}
		}

		span.numero-rodape {border-color: darken($livro4,10%); background: lighten($livro4,17%);}
		div.nota-rodape { 
			.posrel{border-color: darken($livro4,10%);}
			p.numero-equivalente{border-color: darken($livro4,10%); background: lighten($livro4,17%);}
		}
	}

	#rodape {outline-color: $livro4;
		.container a.anterior:before {text-shadow: -10px 0px 0 $livro4}
		.container a.proximo:after {text-shadow: 10px 0px 0 $livro4}
	}
}


// sumario
body.sumario {
	background: transparent url('../img/bg.jpg') no-repeat center center / cover;

	#topo {
		border: 0; outline: 0;
		background: transparent;
	}
}
